# Bu dosyayı .env olarak kopyala. Gerçek token veya sırları asla Git'e ya da sohbete ekleme.
# Instagram Login akışı için graph.instagram.com kullanılır.
IG_USER_ID=17841415713114325
IG_ACCESS_TOKEN=IGAAYjjf9cAA1BZAFkyVVdSaUE2a1JQWjhxc3dvcWh3d0xnQzZAXZAzk1SWlnNFNvcTN6Rl90YU1zUFRsTG02Tmd6ZA19nVm5iY0FOQURNOWI4YW1XbnpQU1A1QW5NNGREVTFzcExaQkd1UTlMeGJnS1ZAjNGZAERmVNTzI1SHkyVmRMcwZDZD
IG_API_VERSION=v24.0
IG_API_HOST=graph.instagram.com
